<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection" 
        connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FoodSupplementsSystem.Web-20170202013624.mdf;Initial Catalog=aspnet-FoodSupplementsSystem.Web-20170202013624;Integrated Security=True" 
        providerName="System.Data.SqlClient" />
  <add name="FoodSupplementsContextConnectionString"
      connectionString="Data Source=.;Initial Catalog=FoodSupplementsSystem;Integrated Security=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>
