<?xml version="1.0"?>
<rules>
  <rule name="RewriteURLHometPaging" stopProcessing="true">
    <match url="^Home" />
    <action appendQueryString="false" type="Rewrite" url="Default.aspx" />
  </rule>
  <rule name="RedirectURLHomePaging" stopProcessing="true">
    <match url="^Default\.aspx$" />
    <action appendQueryString="false" type="Redirect" url="home" />
  </rule>

  <rule name="RedirectURLContactPaging" stopProcessing="true">
    <match url="^Contact\.aspx$" />
    <action appendQueryString="false" type="Redirect" url="contact-us" />
  </rule>

  <rule name="RewriteURLContactPaging" stopProcessing="true">
    <match url="^contact-us" />
    <action appendQueryString="false" type="Rewrite" url="Contact-Us.aspx" />
  </rule>

  <rule name="RedirectURLAboutPaging" stopProcessing="true">
    <match url="^About-Us\.aspx$" />
    <action appendQueryString="false" type="Redirect" url="about-us" />
  </rule>

  <rule name="RewriteURLAboutPaging" stopProcessing="true">
    <match url="^about-us" />
    <action appendQueryString="false" type="Rewrite" url="About.aspx" />
  </rule>
</rules>



