<?xml version="1.0"?>
<rewriteMaps>
  <rewriteMap name="StaticRewrites">
    <add key="/about-us" value="/about" />
    <add key="/about" value="/about" />
    <add key="/contact-us" value="/Contact.aspx" />    
    <add key="/contacts" value="/Contact.aspx" />    
    <add key="/contact" value="/Contact.aspx" />       
  </rewriteMap>
</rewriteMaps>

